html
  head
    title Room
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Architects+Daughter', rel='stylesheet', type='text/css')
    //- link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/style.css")
  body
  - var roomName = room.name
    h1.home Inside the #{roomName}:
    
    .container
      .row
        .col-xs-12
          .row
            each item in room.items
              .col-xs-6.room
                - var price = item.value
                - var time = item.createdAt
                -var description = item.description
                h1.name= item.name
                h2 #{description}
                h3.price Price: $#{price}
                h6 This item was created at #{time}
    .container.back
      a(href='/')
        button.btn.btn-primary Back
            
  
          
  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
  script(src="/js/main.js")
